registry=https://registry.npmjs.org/
@nethermindeth:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com:_authToken=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