registry=https://registry.npmjs.org/
@nethermindeth:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com:_authToken=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